#main {
    display: flex;
    flex-direction: column;
    height: 700px;
}

header, main, footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    height: 100px;
    background-color: lightblue;
}

main {
    height: 500px;
    background-color: lightgreen;
}

footer {
    height: 100px;
    background-color: lightcoral;
}

.leftPanel, .content, .rightPanel {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
